h1 {
  font-size: 96px;
  color: black;
  font-family: Playfair Display;
  font-weight: bold;
  line-height: 1.5;
}

h2 {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: #272142;
}

h3 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

h4 {
  font-size: 45px;
  font-family: Playfair Display;
}

.acai-project,
.weather-react,
.weather-vanilla {
  font-size: 58px;
  font-family: Playfair Display;
  line-height: 1;
}
.weather-vanilla {
  margin-right: 40px;
  margin-left: 24px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.p-about {
  margin-left: 30px;
}

.p-vanilla {
  margin-left: 30px;
  margin-right: 36px;
}

.p-react {
  margin-left: 24px;
  margin-right: 30px;
}

.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding: 100px 20px;
}

.btn-contact {
  background: #32afb3;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-acai,
.btn-weather-vanilla,
.btn-weather-react {
  color: #32afb3;
  border: 1px solid #32afb3;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-weather-vanilla,
.btn-weather-react {
  margin-left: 24px;
}

.btn:hover {
  background-color: #32afb3;
  color: white;
}

.btn-about-page {
  color: #32afb3;
  border: 1px solid #32afb3;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.acai {
  height: 600px;
  width: 50%;
  margin-right: 40px;
  flex: 1;
}

.react {
  height: 400px;
  width: 80%;
  margin-left: 100px;
}

.vanilla {
  height: 450px;
  width: 90%;
  margin-left: 20px;
}

.vanilla-description {
  margin-left: 80px;
}

.weather-vanilla-work {
  margin-top: 80px;
  max-width: 90%;
}

.weather-react-work {
  height: 500px;
  width: 50%;
}

.project-description {
  flex: 1;
}

.content-container {
  background-color: #f9f7fe;
  margin-bottom: 40px;
  padding: 20px 12px;
  max-width: 100%;
}

.content h1 {
  font-size: 52px;
  line-height: 60px;
}

.h1-work {
  text-align: center;
}

.content p {
  font-size: 18px;
}

.content h4 {
  font-size: 24px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

.content {
  margin-left: 30px;
  margin-top: 40px;
}

.btn-about-page {
  margin-left: 30px;
}
.my-photo {
  height: 550px;
  width: 65%;
}

.logo {
  max-width: 150px;
  margin-left: 0;
  margin-right: 0;
}

.h1-work {
  font-size: 50px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 20px 30px 20px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #32afb3;
}

.social-links {
  color: #32afb3;
}

.social-media {
  color: #32afb3;
}

.social-media:hover {
  color: black;
  transition: all 100ms ease-in-out;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: #f9f7fe;
  padding: 30px 100px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: #32afb3;
}

footer .social-links a {
  margin: 0 20px;
  color: #32afb3;
  background-color: #f9f7fe;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: #32afb3;
}

.link-portfolio {
  color: #32afb3;
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
    line-height: 56px;
  }

  h4 {
    font-size: 30px;
  }

  .hero {
    padding: 80px 20px;
  }

  .h1-work {
    text-align: center;
    font-size: 45px;
  }

  .h1-contact {
    margin-right: 10px;
  }

  .project-description {
    padding: 0;
    /* text-align: center; */
    margin: 0 20px 0 20px;
  }

  .btn-weather-vanilla,
  .btn-weather-react {
    margin-left: 0;
  }

  .acai-project,
  .weather-react,
  .weather-vanilla {
    font-size: 44px;
    text-align: center;
  }

  .weather-react {
    margin-right: 20px;
  }

  .weather-vanilla {
    margin: 0;
  }

  .p-vanilla {
    margin: 0;
  }

  .p-react {
    margin: 0;
  }

  .content {
    text-align: center;
    margin: 40px 0;
  }

  .p-about {
    margin-right: 20px;
  }

  .btn-about-page {
    margin-left: 85px;
  }

  .my-photo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    height: 300px;
    width: 60%;
    padding: 0;
  }

  .work-images {
    margin-left: 40px;
  }

  .work-content {
    text-align: center;
    margin: 40px 0;
  }

  .weather-vanilla-work {
    margin-top: 20px;
    height: 300px;
    width: 100%;
  }

  .weather-react-work {
    height: 300px;
    width: 100%;
  }

  .vanilla-description {
    max-width: 100%;
    margin-left: 0;
  }

  .logo {
    height: 80px;
    width: 30%;
  }

  nav a {
    font-size: 14px;
  }
}
