h1 {
  font-size: 96px;
  color: black;
  font-family: Playfair Display;
  font-weight: bold;
  line-height: 1.5;
}

h2 {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: #272142;
}

h3 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.acai-project,
.weather-react,
.weather-vanilla {
  font-size: 58px;
  font-family: Playfair Display;
  line-height: 1;
}
.weather-vanilla {
  margin-right: 40px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}

.btn-contact {
  background: #6c63ff;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-acai,
.btn-weather-vanilla,
.btn-weather-react {
  color: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-about-page {
  background: #6c63ff;
  color: white;
}

img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.acai {
  height: 600px;
  width: 50%;
  margin-right: 40px;
  flex: 1;
}

.react {
  height: 400px;
  width: 80%;
  margin-left: 0;
}

.vanilla {
  height: 400px;
  width: 80%;
  margin-left: 100px;
}

.project-description {
  flex: 1;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section p {
  font-size: 18px;
}

.about-section-content {
  margin: 30px;
}

.my-photo {
  height: 500px;
  width: 60%;
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
    line-height: 56px;
  }

  .project-description {
    padding: 0;
    text-align: center;
    margin-right: 10px;
  }

  .acai-project,
  .weather-react,
  .weather-vanilla {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }
}
